/*
Common
*********************/

html,
body {
    height: 100%;
}

.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.heading {
    justify-content: left;
    align-items: center;
    display: flex;
}

img.logo {
    width: 50px;
}

h1 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0%;
    font-weight: bold;
}

input#myFile {
    width: 200px;
}
/*
Post
*********************/

.post_form {
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
}

.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgb(29,160,240);
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.post_form textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
}

.posts ul {
    padding: 0;
}

.posts li {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 17px;
}

.posts li .menu_icon {
    width: 20px;
    position: absolute;
    right: 30px;
    top: 18px;
}

.posts li .menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}

.posts li .menu a {
    text-decoration: none;
}

.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}

.posts li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name {
    font-weight: bold;
}

.posts li .name_body .datetime {
    color: gray;
}

@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 20px;
    }
}

.edit_form {
    padding: 20px 27px;
    border-bottom: #ccc 1px solid;
}

.edit_form input {
    width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgb(29, 161, 242);
  color: white;
  font-size: 15px;
  font-weight: bold;
}

#edit-body {
    background-color: white;
    color: black;
    font-weight: lighter;
}

input#update {
    position: absolute;
  width: 6%;
  margin-left: 1%;
  border: 0;
  border-radius: 5px;
  margin-top: 1%;
}

input#cancel {
    position: absolute;
    width: 6%;
    margin-left: 9%;
    border: 0;
    border-radius: 5px;
    margin-top: 1%; 
}

input#edit-file {
    width: 40%;
  margin-top: 2%;
  background-color: #ccc;
  border: 0;
  border-radius: 5px;
}